* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    background: url("./images/8056324.jpg") no-repeat center center/cover;
    background-size: cover;
    position: relative;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 30px;
    text-align: center;
}

/* .hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
} */

.hero button {
    padding: 15px 50px;
    border: none;
    border-radius: 15px;
    background-color: #ff6347;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.hero button:hover {
    background-color: #ff4500;
}

.hero h1 {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bolder;
    font-size: 3rem;
    color: #000;
    z-index: 2;
}

.hero h2 {
    /* background-color: rgba(0, 0, 0, 0.1); */
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 2rem;
    color: #000;
    z-index: 2;
    font-style: oblique;

}

.causes {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 20px;

}

.cause {
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease;
}

.cause:hover {
    transform: scale(1.05);
}

.cause button {
    border: none;
    background-color: #333;
    height: 40px;
    border-radius: 10px;
    width: 100%;
    color: white;
    margin-top: auto;
}

.cause img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

footer {
    width: 100%;
    height: 70px;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.social-links {
    display: flex;
    gap: 20px;
    color: white;
}

.social-links a {
    text-decoration: none;
    color: white;
}

@media (max-width:1024px) {
    .hero h1 {
        font-size: 2rem;
    }

    .hero h2 {

        font-size: 1rem;

    }
}